/* List */
ul {
    counter-reset: index;  
    padding: 0;
    max-width: 300px;
  }
  
  /* List element */
  li {
    counter-increment: index; 
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    width: 700px; 
    border-bottom: 1px black solid; 
    box-sizing: border-box;
  }

  
  
  
  
  
  
  
  
  
  
  
  
  
  